/*
    DEMO STYLE
*/

*{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    font-family:  'Poppins', sans-serif;
}

#alert-msg{
    display: none !important;
}
.page-item{
    font-size: 10px !important;
}
.page-link{
    padding: .6em !important;
}
#circle_status_0{
    width: 10px;
    height: 10px;
    background: #B40404;
    border-radius: 50%;
}
#circle_status_1{
    width: 10px;
    height: 10px;
    background: #04B404;
    border-radius: 50%;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.w-90 {
    width: 90%!important;
}
.w-80 {
    width: 80%!important;
}
#porcentaje{
    font-size: 12px;
}
small{
    font-size: 11px !important;
}
label{
    font-size: 13px !important;
}
input{
    font-size: 12px !important;
}
select{
    font-size: 11px !important;
}
td{
    font-size: 12px !important;
}
h3{
    color: #495057;
}
/* Notifications */
#btn-anuncio {
  position: fixed;
  z-index: 99;
  font-size: 14px;
  top: 130px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  -webkit-transform: translate(-300px, 0);
  -moz-transform: translate(-300px, 0);
  -ms-transform: translate(-300px, 0);
  -o-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}
#btn-anuncio a{
  font-size: 20px;
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
#btn-anuncio a:hover{
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  -o-transform: translate(120px, 0);
  transform: translate(120px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.btn-now-anuncio,
#btn-anuncio a i {
  -webkit-animation: tiembla 2s infinite;
}
#content-totle-notifi{
    border-bottom: 1px solid #e4e4e4;
}
.notify_news {
    -webkit-animation: tiembla 2s infinite;
    font-size: 18px;
}
@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}
#title-notifi {
    font-size: 17px !important;
    font-weight: 500;
    color: #000;
    
}
#notification-latest a{
    text-decoration: none !important;
    color: #000 !important;
}
#notification-latest a:hover{
    text-decoration: none !important;
    color: #007bff !important;
}
#notification-latest {
color: #555;
position: absolute;
  right: 0px;
  background: #f5f5f5;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);
  /* max-width: 250px; */
  text-align: left;
  z-index: 999;
  font-size: 12px;
  max-height: 500px;
  overflow: auto;
}
.notification-item {
    padding-left: .8rem;
    padding-right: .8rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
	border-bottom: #ce2078 2px solid;
	cursor:pointer;
}
.notification-subject {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:italic;
}
.notification-date small{
    font-size: 9.5px !important;
    
}

.card{
    border-radius: .5rem !important;
}
#content_load_notify{
    width: 200px;
}
#load_notify .spinner-grow{
    margin: 1em !important;
    text-align: center;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
#btn_dowload_report .spinner-border,
#btn_dowload_report_a .spinner-border,
#btn_dowload_report_c .spinner-border,
#btn_dowload_report_o .spinner-border,
#btn_login .spinner-border,
#btn_add_file .spinner-border,
#btn_add_balance .spinner-border,
#btn_dowload_report_s .spinner-border{
    width: 1rem !important;
    height: 1rem !important;
}
.spinner-grow{
    margin: 1em !important;
    font-size: 10px;
}
.indicator{
    background: #293042 ;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
    border-radius: 50%;
    display: block;
    height: 20px;
    width: 18px;
    padding: 5px;
    position: absolute;
    top: 5px;
    text-align: center;
    transition: top .1s ease-out;
    font-size: .675rem;
    color: #fff;
}
.nav-item{
    margin-left:.5em !important ;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
option{
    font-size: 12px;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
#options-user a,
#options-user a i{
    color:#293042 ;
}
#user-form {
    display:none;
}

.img-thumbnail {
    width: 80px !important;
    max-height: 120px !important;
}
.approved{
    color: #2CAB41;
}

.denied{
    color: red;
}
#sidebarCollapse{
    font-size: 20px;
}
/*SIDEBAR STYLE*/

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    font-size: 14px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #293042;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #BDBDB7;
}

#sidebar .sidebar-header > h4{
    text-transform: uppercase;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
    color: #BDBDB7;
    text-decoration: none;
}
#sidebar ul li a i{
    font-size: .8em;
    margin-left: 10px;
    margin-right: 8px;
}

#sidebar ul li a:hover ,
#sidebar ul li a i:hover {
    color: #fff;
}
.login-form label{
    color: #999;
}

#trasladoMenu > li > a:hover {
    color: #fff !important;
}
.current a
{
    color: #fff !important;
    font-size: 17px !important;
    border-left: 6px solid #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    font-size: 15px;
    color: #BDBDBD;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.separador{
    padding-top: .1em !important;
    padding-bottom: .3em !important;
    border-bottom: 1px solid #dee2e6!important ;
}
h6{
    color: #999;
}
/* CONTENT STYLE */

#content {
    width: calc(100% - 250px);
    padding: 30px 40px 40px 25px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    background-color: #f8f9fa;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* NAVBAR */
.welcome{
    text-transform: uppercase;
}

.sidenav {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    background: url('../img/background/login_cola.png') no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-login-colaborador{
    background-color: #DE3028 !important;
    color: #fff !important;
}
.btn-login-colaborador:hover{
    background-color: #ac231b !important;
    color: #fff !important;
    transition: 1s;
}
.title-login-col h2{
    color: #DE3028;
    font-weight: bold;
}

.main {
    padding: 0px 10px;
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}
.login-main-text p{
    color: #fff !important;
}
.btn{
    font-size: 12px !important;

}
.btn-black{
    background-color: #293042 !important;
    font-size: 12px !important;
    color: #fff !important;
}
.btn-black:hover{
    background-color: #3a4561 !important;
    font-size: 12px !important;
    color: #fff !important;
    transition: 0.5s;
}

.text-table{
    font-size: 15px;
    margin-bottom: 3px !important;
}
.sub_tarifas {
    padding-left: 15px !important;
}
/* Table */
th{
    padding: 15px 5px 15px 5px !important;
}
table tbody{
    background-color: #fff;
}
#info_zonas > td{
    vertical-align: middle!important;
}
#usuario{
    text-transform: uppercase;
}
#crud-form-edit{
    display:none;
    padding: 0;
}
#crud-form {
    display:none;
    padding: 0;
}
#agency-result{
    display:none;
    padding: .5em;
    font-weight: bold;
}
 /* AGENCIAS */

 /* MONEDERO ELECTRONICO */
 #content_row_ep{
    max-height: 700px !important;
    overflow: scroll;
 }

 .update_users,
 #btn_cancel_edit_user{
    display: none;
    text-align: center;
  }
td{
    font-size: 15px;
}

table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .sorting {
    background-color: #D4D4D4;
  }
  .asc:after {
    content: ' ↑';
  }
  
  .desc:after {
    content: " ↓";
  }
.thead{
    background-color: #000000;
    color: #fff;
}

/* Reservation profile */
.modal-confirm {		
	color: #434e65;
	width: 525px;
}
.modal-confirm .modal-content {
	padding: 20px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	background: #47c9a2;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}

.modal-confirm h4 {
	text-align: center;
	font-size: 36px;
	margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #fff;
	text-shadow: none;
	opacity: 0.5;
}
.modal-confirm .close:hover {
	opacity: 0.8;
}
.modal-confirm .icon-box {
	color: #fff;		
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 50%;
	z-index: 9;
	border: 5px solid #fff;
	padding: 15px;
	text-align: center;
}
.modal-confirm .icon-box i {
	font-size: 64px;
	margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #eeb711 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border-radius: 30px;
	margin-top: 10px;
	padding: 6px 20px;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #eda645 !important;
	outline: none;
}
.modal-confirm .btn span {
	margin: 1px 3px 0;
	float: left;
}
.modal-confirm .btn i {
	margin-left: 1px;
	font-size: 20px;
	float: right;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}


.modal-confirm #header_error {
	background: #e85e6c;
	border-bottom: none;   
	position: relative;
	text-align: center;
	margin: -20px -20px 0;
	border-radius: 5px 5px 0 0;
	padding: 35px;
}
#content_edit_reserva span {
    font-size: 13px;
}
#currency small{
    text-transform: uppercase !important;
    font-size: 9px !important;
}
.content-card{
    height: auto;
    min-height: 300px;
    max-height: 350px;
    overflow: scroll;
}
.chat-messages{
    float: left;
    width: 80%;
    margin-bottom: 10px;
}
.chat-messages-me{
    float: right;
    width: 80%;
    margin-bottom: 5px;
}
.message{
    float: left;
    padding: 10px;
    background: #ecf1f8;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.from{
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 11px;
}
.user{
    text-align: left;
    font-size: 12px;
}
.me-user{
    text-align: right;
    font-size: 12px;
}
.message-me{
    float: right;
    padding: 10px 15px;
    background: #293042;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.from-me{
    float: right;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
}
.msj-content-me-body{
    color:#fff;
    background:#293042;
    padding: .6em 1.6em;
    float: right;
    height: auto;
    width: auto;
    border-radius: 5px;
}
.msj-date{
    font-size: 10px;
    font-weight: lighter;
}
.msj-user{
    font-size: 10px;
    font-weight: lighter;
}

/* Tarifas proveedor */
.content_rates_provider,
.content_rates_provider input, 
.content_rates_provider a, 
.content_rates_provider h6,
.content_rates_provider h5  {
    font-size: 13px;
}

.content_rates_provider .col-md-8{
    border-bottom: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
}
.content_rates_provider .col-md-4{
    border-bottom: 1px solid #dee2e6!important;
}
/* Cartas */
.nav-pills .nav-link.active{
    background-color: transparent !important;
    border-bottom:1px solid #293042 !important;
    color: #293042 !important;
    border-radius: 0 !important;
}
#pills-tab a{
    color: #999;
}
#nav-tab a{
    font-size: 14px;
}
/*PDF*/
#storaged_documents{
    width: 100%;
}

/* CONCILIACIONES*/
.content-p {
    /*IMPORTANTE*/
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* REPORTES */
    .box-icon span{
        font-size: 20px;
    }
    .box-icon h3{
        color: #fff !important;
    }
    .box-icon {
        float: left;
        padding: 20px;
        text-align: center;
        max-width: 190px;
    }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav_agencies {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .indicator{
        background: #3f80ea;
        box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.05);
        border-radius: 50%;
        display: block;
        height: 20px;
        width: 18px;
        padding: 5px;
        position: absolute;
        top: 47px;
        text-align: center;
        transition: top .1s ease-out;
        font-size: .675rem;
        color: #fff;
    }
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
    .alert-error{
        margin-left: 15%;
        z-index: 1010;
    }
}
@media screen and (max-width: 1024px) {
    #sidebar ul li>a{
        font-size: 12px;
    }
    #sidebar ul li>a,
    a[aria-expanded="true"] {
        font-size: 14px;
        color: #BDBDBD;
    }
    table{
        font-size: 12px;
    }
    .hidden-sm{
        display: none;
      }
    .sidebar-header > h3{
        font-size: 18px;
    }
}

@media screen and (min-width: 768px){
    
    /* .hidden-sm{
        display: none;
    } */
    table{
        font-size: 12px;
    }
    .main{
        margin-left: 40%; 
    }
    .sinbordefondo {
        background-color: transparent !important;
        border: 0;
        color: #000;
        font-size: 15px;
        width: 100%;
    }
    .alert-error{
        margin-left: 10%;
        z-index: 1010;
    }
    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .sidenav_agencies{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}

@media (max-width: 767px) {
    

    
    /* Servicios */
    select{
        font-size: 11px !important;
    }
    #form-date{
        padding-top: 1rem;
    }
    #sidebar ul li>a{
        font-size: 12px;
    }
    #sidebar ul li>a,
    a[aria-expanded="true"] {
        font-size: 14px;
        color: #BDBDBD;
    }
    .indicator{
        background: #293042;
        box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 5%);
        border-radius: 50%;
        display: block;
        height: 20px;
        width: 18px;
        padding: 5px;
        position: absolute;
        top: 80px;
        text-align: center;
        transition: top .1s ease-out;
        font-size: .675rem;
        color: #fff;
    }
    table{
        font-size: 12px;
    }
    .hidden-sm{
        display: none;
      }
    #sidebar ul li>a,
    a[aria-expanded="true"] {
        font-size: 12px;
        color: #BDBDBD;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ESTILOS AGENCIAS */
.sidenav_agencies {
    height: 100%;
    background-image: url('../img/background/login_agen.png');
    overflow-x: hidden;
    padding-top: 20px;
}
.btn-login-agencies{
    background-color: #414380 !important;
    color: #fff !important;
}
.btn-login-agencies:hover{
    background-color: #2a2c5f !important;
    color: #fff !important;
    transition: 1s;
}
.title-login-agen h2{
    color: #414380;
    font-weight: bold;
}